.myWorks {
    min-height: 100vh;
    background-color: #c095ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    padding: 60px 0;
}

.header {
    text-align: center;
    padding: 25px 0 0 0;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 60px 0;
}




@media screen and (max-width: 750px){
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 1399px) {
    .main {
        justify-content: center;
    }
}