.skills {
    min-height: 100vh;
    background-color: #b0ff9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 60px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.abilities {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media screen and (max-width: 750px) {
    .container{
        width: 95%;
    }
}