.header{
    display: flex;
    height: 70px;
    background-color: #b9ffec;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



@media screen and (max-width: 750px){
    .container{
        width: 95%;
    }
}
